# Node
node_modules/
package-lock.json

# Angular
.angular/

# React Native
.expo/

# Environment files
.env

# Build output
dist/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Misc
.idea/
.vscode/
