.area-history-container {
    padding: 20px;
    padding-top: 120px;
}

.history-item-details {
    border-radius: 8px;
    padding: 15px;
    margin-bottom: 15px;
    background-color: var(--gray-color);
    border-left: 5px solid var(--line-color);

    .history-item-timestamp {
        font-size: 14px;
        color: var(--black-color);
        opacity: 0.7;
        margin-bottom: 8px;
    }
    .history-item-description {
        font-size: 16px;
        color: var(--black-color);
        font-weight: 500;
    }
}

.history-item-details.success {
    border-left: 5px solid var(--color-success);
    background-color: var(--color-success-light);
}

.history-item-details.failure {
    border-left: 5px solid var(--color-error);
    background-color: var(--color-error-light);
}