<app-area-header-dashboard [title]="'History'"></app-area-header-dashboard>
<div class="area-history-container">
    <div class="history-item" *ngFor="let item of historyItems">
        <div class="history-item-details" [ngClass]="{'success': item.status === 'success', 'failure': item.status === 'failure'}">
            <div class="history-item-timestamp">{{ item.executed_at | date:'short' }}</div>
            <div class="history-item-description">{{ item.log }}</div>
        </div>
    </div>
    <div *ngIf="historyItems.length === 0" class="history-item-details">
        No history available.
    </div>
</div>