<div class="dashboard">
    <div class="dashboard-header">
        <img
            src="/assets/logo.png"
            alt="Area Logo"
            class="logo"
        />
        <div class="search-filters">
            <h2>AREAS:</h2>
            <div class="fields">
                <app-text-field-component
                    [label]="'Search area...'"
                    [type]="'text'"
                    [(value)]="searchTerm"
                    (valueChange)="searchTerm = $event"
                ></app-text-field-component>
                <app-options-field-component
                    [label]="'All Apps'"
                    [options]="listApps"
                    (valueChange)="appsFilter = $event"
                    aria-labelledby="all-apps-label"
                ></app-options-field-component>
                <app-options-field-component
                    [label]="'All Status'"
                    [options]="listStatus"
                    (valueChange)="statusFilter = $event"
                    aria-labelledby="all-status-label"
                ></app-options-field-component>
            </div>
        </div>
    </div>

    <div class="dashboard-bottom-part">
        <div class="left-part">
            <div class="top-buttons">
                <div class="space"></div>
                <app-area-button-full
                    [label]="'+ CREATE'"
                    [disabled]="false"
                    [path]="'/area/creation'"
                    class="accessible-button"
                ></app-area-button-full>
                <app-area-button-icon
                    [label]="'SERVICES'"
                    [icon]="'https://static.thenounproject.com/png/793130-200.png'"
                    [disabled]="false"
                    [path]="'/services-manager'"
                ></app-area-button-icon>
                <app-area-button-icon
                    [label]="'HISTORY'"
                    [icon]="'https://cdn-icons-png.flaticon.com/512/8373/8373545.png'"
                    [disabled]="false"
                    [path]="'/area/history'"
                ></app-area-button-icon>
            </div>
            <div class="profile-button">
                <app-area-button-icon
                    [label]="'NAME'"
                    [icon]="'https://static.vecteezy.com/system/resources/previews/009/292/244/non_2x/default-avatar-icon-of-social-media-user-vector.jpg'"
                    [disabled]="false"
                    [path]="'/settings'"
                ></app-area-button-icon>
            </div>
        </div>
        <div class="right-part">
            <div class="areas-list">
                <div class="space-right"></div>
                <div class="area-card-header">
                    <h3>Name:</h3>
                    <h3>Apps:</h3>
                    <h3>Status:</h3>
                </div>
                <div class="areas-cards">
                    <div *ngFor="let area of getFilteredAreas()" class="area-card" (click)="goToArea(area.id)" tabindex="0" (keydown.enter)="goToArea(area.id)">
                        <div class="button-area-selection" (click)="selectArea(area.id, $event)" tabindex="1" (keydown.enter)="selectArea(area.id, $event)" tabindex="0">
                            <svg *ngIf="area.selected" xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="http://www.w3.org/2000/svg" width="24px" fill="#e3e3e3"><path d="M382-240 154-468l57-57 171 171 367-367 57 57-424 424Z"/></svg>
                        </div>
                        <h2>{{ area.name }}</h2>
                        <div [class]="area.AppsIcons.length === 1 ? 'apps-icons-single' : 'apps-icons'">
                            <img *ngFor="let icon of getIconsArea(area.id)" [src]="icon.url" alt="App Icon" class="app-icon" />
                        </div>
                        <div class="status-indicator"
                            [style.background-color]="area.active ? 'var(--green-color)' : 'var(--red-color)'"
                            (click)="changeStatus(area.id, $event)"
                            (keydown.enter)="changeStatus(area.id, $event)"
                            tabindex="0">
                            <div class="status-dot"
                                [style.transform]="'translateX(' + (area.active ? '47px' : '0px') + ')'">
                            </div>
                        </div>
                        <div class="see-more">
                            <a (click)="historyArea(area.id, $event)" (keydown.enter)="historyArea(area.id, $event)" tabindex="0">
                                <svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3">
                                    <path d="M480-120q-138 0-240.5-91.5T122-440h82q14 104 92.5 172T480-200q117 0 198.5-81.5T760-480q0-117-81.5-198.5T480-760q-69 0-129 32t-101 88h110v80H120v-240h80v94q51-64 124.5-99T480-840q75 0 140.5 28.5t114 77q48.5 48.5 77 114T840-480q0 75-28.5 140.5t-77 114q-48.5 48.5-114 77T480-120Zm112-192L440-464v-216h80v184l128 128-56 56Z"/>
                                </svg>
                            </a>
                            <a (click)="deleteArea(area.id, $event)" (keydown.enter)="deleteArea(area.id, $event)" tabindex="0">
                                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="#e3e3e3">
                                    <path d="M6 19a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V7H6v12zM19 4h-3.5l-.71-1h-4.58L8.5 4H5v2h14V4z"/>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

